body{
  background-color: #00507f;
  color: white;
}
a {
  color: #ff6c3d;
}
header {
  font-size: 50px;
}
#header-div {
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

.navbar {
  display: inline;
  margin-right: 10px;
}

#resources {
  width: 15%;
  float: left;
  clear: both;
}

#main {
  width:85%;
  float: right;
  text-align: left;
  overflow: auto;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 50px;
  }
